# Nix
result
.direnv

# macOS
.DS_Store

# Secrets
.zshenv.local

.claude

# Old emacs stuff
*.elc
.cask
*.~undo-tree
.emacs.d/elpa/
.emacs.d/projectile-bookmarks.eld
.emacs.d/.python-environments/
.emacs.d/ac-comphist.dat
.emacs.d/emojis/
.emacs.d/custom.el
