[user]
	name = Camen
	email = 29082904+camentree@users.noreply.github.com
[core]
	excludesfile = /Users/camen/.gitignore_global
[alias]
  cm = commit
  co = checkout
  st = status
  br = branch
[pull]
	rebase = false
[push]
	autoSetupRemote = true
