[user]
	name = Camen
	email = camenpihor@gmail.com
[core]
	excludesfile = /Users/cpiho/.gitignore_global
[credential]
	helper = store
[alias]
  cm = commit
  co = checkout
  st = status
  br = branch
[pull]
	rebase = false
